html {
  height: 100%;
  width: 100%;
}

.navbar {
  background: yellow;
  padding: 25px 0;
}

body.homepage {
  background: linear-gradient(235deg, #000000, #060c21, #000000);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

.btn {
  background: red;
  margin: 10% auto;
  padding: bottom 50%;
  width: 300px;
  height: 100px;
}

.btn:hover {
  background: rgb(194, 0, 0);
  color: white;
}

.btn:active {
  background: rgb(150, 0, 0) !important;
}

body.season1 {
  background: linear-gradient(235deg, #8a8822, #060c21, #f0e10c);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season2 {
  background: linear-gradient(235deg, #b67832, #060c21, #f88400);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season3 {
  background: linear-gradient(235deg, #832e2e, #060c21, #cf1f1f);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season4 {
  background: linear-gradient(235deg, #472f2f, #060c21, #720606);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season5 {
  background: linear-gradient(235deg, #575050, #060c21, #363636);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season6 {
  background: linear-gradient(235deg, #4a5553, #060c21, #02664d);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.game {
  background: linear-gradient(235deg, #832e2e, #060c21, #cf1f1f);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

#canvas1 {
  position: absolute;
  border: 3px solid white;
  width: 800px;
  height: 700px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  fill: black;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.cobralogo {
  width: clamp(400px, 40vw, 700px);
  animation: bounce 1.25s infinite;
  animation-timing-function: ease-in-out;
}

.season-title {
  color: white;
  padding: 50px 0;
}

.description {
  font-family: "nothing", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

video {
  border: white solid 5px;
  width: 1000px;
}

video:border {
  border-radius: 50%;
}
