html {
  height: 100%;
  width: 100%;
}

body.homepage {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

.btn-primary {
  margin-bottom: 50%;
  padding: bottom 50%;
  height: 30%;
}

body.season1 {
  background-image: url(imgs/);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season2 {
  background-image: url(imgs/unnamed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season3 {
  background-image: url(imgs/unnamed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season4 {
  background-image: url(imgs/unnamed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season5 {
  background-image: url(imgs/unnamed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.season6 {
  background-image: url(imgs/unnamed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}
